<!-- Navigation -->
<%= render 'navbar' %>

    <!-- 
    <header>
        <div class="container">
            <div class="intro-text">
              <div class="intro-heading">FoodGem | Discover New Delivery</div>
                <div class="intro-lead-in" >A weekly meal delivered to you for only $5</div>

                <br/><br/>
                <a href="#services" class="page-scroll btn btn-xl" style="font-size: 26pt; padding: 10px 20px;">Get Started</a><br/><br/>
                <a href="#services" class="page-scroll btn btn-xl" style="font-size: 26pt; padding: 10px 20px;">Get As A Gift</a>
            </div>
        </div>
    </header>-->

    <!-- Services Section -->
    <section id="services" style="padding: 75px 0 0 0;">
        <div style="display:none;"> <iframe src="https://docs.google.com/forms/d/1BppgbmHPvFqTJImrhVbKEpswRGvrjOifX1UnlhymWt0/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4 class="service-heading" style="color: #777;"><span style="color: #fed136;" class="navpreferences"> Choose Preferences </span>&nbsp;&#9656;&nbsp;<span class="navarea goarea">Choose Area</span>&nbsp;&nbsp;&#9656;&nbsp;&nbsp;<span class="navday goday"> Choose Day</span> </h4>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray preferences" style="padding: 50px 0 0 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Choose Preferences</h2>
                    <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">Select a foodie track, but feel free to switch your preferences up to 24 hours before the delivery. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link selecttrack" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://s4.favim.com/orig/50/club-delicious-food-lunch-sanwich-Favim.com-460453.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Popular Track</h4>
                        <p class="text-muted">The most popular tasty dishes!</p><a href="./rating.html" class="starmargin" style="display: block;font-family: FontAwesome; width: 120px; margin:0 auto; text-decoration: none;"><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr" ></i><i class="fa fa-star-half-full starclr"></i> [182 <i class="fa fa-group"></i>]<br></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link selecttrack" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.vegkitchen.com/wp-content/uploads/2012/08/Seitan-avocado-wrap.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Vegitarian Track</h4>
                        <p class="text-muted">Pastas, Salads, Casseroles</p>
                        <a href="./rating.html" class="starmargin" style="display: block;font-family: FontAwesome; width: 120px; margin:0 auto; text-decoration: none;"><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star-o starclr"></i> [78 <i class="fa fa-group"></i>]<br></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link selecttrack" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://julievr.wpengine.netdna-cdn.com/wp-content/uploads/2011/08/Simons-chickpea-dish.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Vegan Track</h4>
                        <p class="text-muted">Chickpeas, Curry, Tofu</p>
                        <a href="./rating.html" class="starmargin" style="display: block;font-family: FontAwesome; width: 120px; margin:0 auto; text-decoration: none;"><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star-o starclr"></i> [26 <i class="fa fa-group"></i>]<br></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link selecttrack" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.abc.net.au/news/image/853746-3x2-940x627.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Meat Lovers</h4>
                        <p class="text-muted">Burgers, Cheese-Steaks, Sausage</p>
                        <a href="./rating.html" class="starmargin" style="display: block;font-family: FontAwesome; width: 120px; margin:0 auto; text-decoration: none;"><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i> [116 <i class="fa fa-group"></i>]<br></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link selecttrack" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://1.bp.blogspot.com/_0DNo0eySp-8/TSL7oN98tFI/AAAAAAAAAQE/6Y6M6fvxXqM/s400/sushi-india-japanese-cuisine.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4> Seafood Track</h4>
                        <p class="text-muted">Sushi, Shrimp, Lobster-Rolls</p>
                        <a href="./rating.html" class="starmargin" style="display: block;font-family: FontAwesome; width: 120px; margin:0 auto; text-decoration: none;"><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star-half-full starclr"></i><i class="fa fa-star-o starclr"></i> [93 <i class="fa fa-group"></i>]<br></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link selecttrack" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://taylormarshall.com/wp-content/uploads/2013/12/Mexican-Food-for-Guadalupe.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4> International Track</h4>
                        <p class="text-muted">Mexican, Chinese, Indian, etc</p>
                        <a href="./rating.html" class="starmargin" style="display: block;font-family: FontAwesome; width: 120px; margin:0 auto; text-decoration: none;"><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star starclr"></i><i class="fa fa-star-half-full starclr"></i> [145 <i class="fa fa-group"></i>]<br></a>
                    </div>
                </div>

            </div>
            <div class="row" style="padding: 40px 0 80px 0; ">
                <div class="col-lg-12 text-center">
                    <a class="page-scroll goarea" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136;
border-radius: 3px;
text-transform: uppercase; color: #fff;
background-color: #fed136;">Next</a>
                </div>
            </div>
            
        </div>
    </section>

    <section id="portfolio" class="bg-light-gray area" style="padding: 50px 0 0 0; display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Choose Area</h2>
                    <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">Select an area so we can find delicious restaurants nearby.</h3>
                </div>
            </div>
            <div class="row text-center" style="padding-bottom: 40px;">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <form class="form-wrapper cf">
                        <input class="szipcode" type="text" placeholder="Zipcode *" required="" >
                        <button type="submit" class="selectday">Select</button>
                    </form>                 
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
        <div class="container">
        <div class="row text-center" style="padding-bottom: 40px;">
                <div class="col-md-4">
                </div>

                <div class="col-md-4">

                    <form class="form-wrapper cf">
                        <input class="semail" type="text" placeholder="Email *" required="" >
                        <button type="submit" class="selectday">Select</button>
                    </form>                 
                </div>
                <div class="col-md-4">
                </div>
        </div>
        <div class="row text-center" style="padding-bottom: 40px;">
                <div class="col-md-4">
                </div>

                <div class="col-md-4">

                    <form class="form-wrapper cf">
                        <input class="sphone" type="text" placeholder="Phone *" required="" >
                        <button type="submit" class="selectday">Select</button>
                    </form>                 
                </div>
                <div class="col-md-4">
                </div>
        </div>
        </div>
        <div class="row" style="padding: 40px 0 80px 0; ">
            <div class="col-lg-12 text-center">
                <a class="page-scroll goday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; background-color: #fed136;">Next</a>
            </div>
        </div>
    </section>

    <section id="portfolio" class="bg-light-gray day" style="padding: 50px 0 50px 0; display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Choose Day</h2>
                    <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">Select which day of the week you'd like your weekly FoodGem Box! <br/>Our default time is 12pm and 7pm but we'll email you to set a time. </h3>
                </div>
            </div>
            <div class="row text-center" style="padding: 20px 0 50px 0; ">
                <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">Lunch Delivery</h3>
                <div class="col-md-2 text-center">
                </div>
                <div class="col-md-8 text-center" style="color: #fff;">
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Mon</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Tue</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Wed</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Thu</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Fri</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Sat</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Sun</a>
                </div>
                <div class="col-md-2 text-center">
                </div>
            </div>

            <div class="row text-center" style="padding: 20px 0 50px 0; ">
                <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">Dinner Delivery</h3>
                <div class="col-md-2 text-center">
                </div>
                <div class="col-md-8 text-center" style="color: #fff;">
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Mon</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Tue</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Wed</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Thu</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Fri</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Sat</a>
                    <a class="page-scroll selectday" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136; border-radius: 3px; text-transform: uppercase; color: #fff; font-size: 16px;">Sun</a>
                </div>
                <div class="col-md-2 text-center">
                </div>
            </div>

            <div class="row text-center" style="padding-bottom: 40px;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
<!--
                    <form class="form-wrapper cf">
                        <h2 class="section-heading">Book Lunch $7 ($15 value)</h2>
                        <input type="text" placeholder="What time? Default is 12PM" required="" >
                        <button type="submit" class="selectday">Book Lunch</button>

                        <h2 class="section-heading">Book Lunch $14 ($30 value)</h2>
                        <input type="text" placeholder="What time? Default is 12PM" required="" >
                        <button type="submit" class="selectday">Book Dinner</button>
                    </form>                 -->
                </div>
                <div class="col-md-3">
                </div>
            </div>


                        <div class="col-lg-12 text-center"><!--
                <a data-toggle="modal" data-target="#loginModal" class="modal page-scroll goarea" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136;
border-radius: 3px;
text-transform: uppercase; color: #fff;
background-color: #fed136; display:none;">Next</a>
-->
                <a href="http://foodgem.com/site/send.php?send=send&" data-target="#loginModal" class="pagesend page-scroll gosubmit" id="fill-spreadsheet" style="font-size: 26pt; padding: 10px 20px; border-color: #fed136;
border-radius: 3px;
text-transform: uppercase; color: #fff;
background-color: #fed136;" >Next</a>
            </div>
        </div>
    </section>

    <section id="portfolio" class="bg-light-gray thankyou" style="padding: 50px 0 50px 0; display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Thank you</h2>
                    <h3 class="section-subheading text-muted" style="margin: 5px 0 30px 0;">We'll be emailing you soon to confirm your sign-up. Feel free to contact us too at food@foodgem.com.  </h3>
                </div>
            </div>


        </div>
    </section>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding: 200px 0 0 0;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Thanks!</h4>
            </div>

            <div class="modal-body" >
                <!-- The form is placed inside the body of modal -->
                <form id="loginForm" method="post" class="form-horizontal">
                    Thank you for signing up, our team will be reaching out within the next 24 hours!
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>

<!--
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Feeding the World</h2>
                    <h3 class="section-subheading text-muted">You get a meal, you give a meal for a child in Africa</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://www.sahaya.org/graphics/rehema_kids5.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Buy a meal and feed a child!</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://2.bp.blogspot.com/_4M_Rscw_Nkk/TO2aHfTdo-I/AAAAAAAAACc/qs4OGM2ijhM/s1600/feeding7.JPG" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Refer a friend and feed a child!</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="http://thinkafricapress.com/sites/default/files/styles/400xy/public/schoolfoodDRC.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Order 10 times and feed a child!</h4>
                    </div>
                </div>
            </div>
        </div>
    </section> 


    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Come get to know us!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://upload.wikimedia.org/wikipedia/commons/c/cd/Panda_Cub_from_Wolong,_Sichuan,_China.JPG" class="img-responsive img-circle" alt="">
                        <h4>Alice Zhang</h4>
                        <p class="text-muted">Chief Executive Foodie</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://www.mrwallpaper.com/wallpapers/Horse-Beach.jpg" class="img-responsive img-circle" alt="">
                        <h4>John Zhuang</h4>
                        <p class="text-muted">Chief Technology Foodie</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://aquaviews.net/wp-content/uploads/2010/04/Ocellaris-Clownfish.jpg" class="img-responsive img-circle" alt="">
                        <h4>Chi Tudi</h4>
                        <p class="text-muted">Chief Marketing Foodie</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">We combine our expertise in consumer technologies and subscription models to create this innovative new product.</p>
                </div>
            </div>
        </div>
    </section>


    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Join us and become our partner.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; FoodGem 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <form id="foo" style="display: none;">
      <input id="email" name="email" type="text" value="" />
      <input id="phone" name="phone" type="text" value="" />
      <input id="zipcode" name="zipcode" type="text" value="" />

      <input type="submit" value="Send"  />

    </form>


  
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script>
    $( ".goarea" ).click(function() {
            $(".preferences").slideToggle();
            $(".area").slideToggle();
            $(".navpreferences").css('color', '#777');
            $(".navarea").css('color', '#fed136');
        });
    $( ".goday" ).click(function() {
            $(".area").slideToggle();
            $(".day").slideToggle();
            $(".navarea").css('color', '#777');
            $(".navday").css('color', '#fed136');
            var semail = $( ".semail" ).val();
            var sphone = $( ".sphone" ).val();
            var szipcode = $( ".szipcode" ).val();
            $(".pagesend").attr("href", "http://foodgem.com/site/send.php?" + 'email=' + semail + '&phone=' + sphone + '&zipcode=' + szipcode);
    });
    $( ".gosubmit" ).click(function() {
           $(".day").slideToggle();
           $(".thankyou").slideToggle();
    });       
    $(".selecttrack").click(function() {
            $(this).children().css('opacity', '100');
    });
    $(".selectday").click(function() {
            $(this).toggleClass('darkorange');
    });
    function getURLParameter(url, name) {
      return (RegExp(name + '=' + '(.+?)(&|$)').exec(url)||[,null])[1];
    }

    $("#fill-spreadsheet").on('click', function(e) {
      e.preventDefault();
      var url = ($(this).attr('href'));
      var email = getURLParameter(url, 'email');
      var phone = getURLParameter(url, 'phone');
      var zipcode = getURLParameter(url, 'zipcode');
      $('form#foo #email').val(email);
      $('form#foo #phone').val(phone);
      $('form#foo #zipcode').val(zipcode);
      request = $.ajax({
              url: "https://script.google.com/macros/s/AKfycbyCdxIoO6ZfnL7bLTDP3FViWW_JeIe1m9IVTsjdwJ4DeAnTXVAE/exec",
              type: "post",
              data: $("form#foo").serialize()
          });

    });
    </script>